{% extends 'crypto/base.html.twig' %}

{% block body %}

<h1>Articles</h1>
<section class="articles">
{% for article in articles %}
    <article>
        <h3>{{ article.title }}</h3>
        <div class="metadata">Publié par {{ article.getAuthor().getUsername() }}, le {{ article.createdAt|date('m/d/y') }} à {{ article.createdAt|date('H:i') }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="image"/>
            <a href="https://cointelegraph.com/news/segwit-creator-introduces-new-language-for-bitcoin-smart-contracts" target="_blank"><h5>Source :{{ article.source }}</h5></a>
            <p>{{ article.content }}</p>
            <a href="{{ path('articles_show', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
{% endfor %}
</section>
{% if app.user %}
    <a class="newArticle" href="{{ path('create_article') }}"><button class="btn btn-primary">Créer un article</button></a>
{% endif %}
{% endblock %}