{% extends 'crypto/base.html.twig' %}

{% block body %}

<h1>Articles</h1>
<section>
    <div class="card-deck">
    {% for article in articles %}
            <div class="card">
                <a href="{{ path('articles_show', {'id' : article.id}) }}">
                    <img src="{{ article.image }}" class="card-img-top" alt="image">
                    <a href="{{ article.source }}" target="_blank">Source : {{ article.source }}</a>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Publié par {{ article.getAuthor().getUsername() }}, le {{ article.createdAt|date('m/d/y') }} à {{ article.createdAt|date('H:i') }}</small>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% if app.user %}
    <a class="newArticle" href="{{ path('create_article') }}"><button class="btn btn-primary">Créer un article</button></a>
{% endif %}
{% endblock %}