{% extends 'crypto/base.html.twig' %}

{% block body %}
    <h1>Cryptocurrencies</h1>
    <br>
    <table id="tablo" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Prix</th>
                <th scope="col">Capitalisation</th>
                <th scope="col">Variation</th>
            </tr>
        </thead>
        {% for item in crypto %}
        <tbody id="crypto">
            <tr>
                <td>{{ item.cmc_rank }}</td>
                <td>
                    <img class="icons" src={{ "icons/%d.png"|format(item.id) }}/>
                    {{ item.name }}
                </td>
                <td>{{ item.quote.USD.price * 100 // 1 / 100 }} $ </td>
                <td>{{ item.quote.USD.market_cap|number_format() }} $ </td>
                {% set variation = item.quote.USD.percent_change_24h * 100 // 1 / 100 %}
                <td class="{% if variation < 0 %} negative {% else %} positive {% endif %} "> {{ variation }} % </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}