{% extends 'crypto/base.html.twig' %}

{% block body %}
    <div class="articles">
        <article>
            <h3>{{ article.title }}</h3>
            <div class="metadata">
                Publié par, le {{ article.createdAt|date('d/m/y') }} à {{ article.createdAt|date('H:i') }}.
            </div>
           <img src="{{ article.image }}" alt=""/>
            <a href="" target="_blank"><h5>Source :{{ article.source }}</h5></a>
            <hr>
            <p>{{ article.content }}</p>
        </article>
    </div>
<h2>Comments</h2>
<section class="commentaires">
    {% for comment in article.comments %}
        {{ form_start(formComment) }}
        <div class="comment">
            <div class="col-3">
                {{ form_row(formComment.title, {'label' : 'Titre', 'attr' : {'placeholder' : "Entrez le titre de l'article"}}) }}
            </div>
            <div class="col">
                {{ comment.content | raw }}
            </div>
        </div>
        {{ form_end(formComment) }}
    {% endfor %}
</section>
{% endblock %}