{% extends 'crypto/base.html.twig' %}

{% block body %}
    <div class="articles">
        <article>
            <h3>{{ article.title }}</h3>
            <div class="metadata">
                Publié par {{ article.createdBy }} , le {{ article.createdAt|date('d/m/y') }} à {{ article.createdAt|date('H:i') }}.
            </div>
           <img src="{{ article.image }}" alt=""/>
            <a href="" target="_blank"><h5>Source :{{ article.source }}</h5></a>
            <hr>
            <p>{{ article.content }}</p>
        </article>
    </div>
{% endblock %}